* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 940px;
  padding: 2rem 0;
}

.login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-nav {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #048ba8;
}

.title {
  font-size: 3.25rem;
  font-weight: bold;
  margin: 1rem 2rem;
  text-align: center;
}

.greeting {
  font-size: 1.75rem;
  margin: 1rem 2rem;
  text-align: center;
}

.sign-in {
  background-color: #048ba8;
  color: inherit;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem 2rem;
  width: auto;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.sign-in:hover,
.sign-out:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.sign-out {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #048ba8;
  color: inherit;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem 2rem;
  width: auto;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.remove-decoration {
  text-decoration: none;
  color: inherit;
}

.link {
  color: inherit;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem 2rem;
  width: auto;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.link:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.date-time-picker,
.create-tournament {
  width: 100%;
  font-size: 1rem;
}

.tournament {
  width: calc(100% - 4rem);
  height: 20rem;
  /* text-align: center; */
  padding: 1rem 3rem;
  margin: 2rem;
  background: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  border-radius: 30px;
  position: relative;
  color: #2f2d2e;
}

.tournaments {
  width: 100%;
}

.completed {
  background: #99c24d;
  color: #2f2d2e;
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.options-nav {
  position: absolute;
  top: 10px;
  left: 0;
  margin: 1rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.options:hover,
.options-nav:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.options-list {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  padding: 1rem 3rem;
  border: 2px solid white;
  border-radius: 30px;
  background-color: #2e4057;
  color: white;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.link-edit {
  color: inherit;
  text-decoration: none;
}

.option:hover {
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.05);
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}

.tournament-details {
  column-count: 2;
  /* display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center; */
}

.details-title {
  font-size: 1.75rem;
  font-weight: bold;
  align-self: center;
  padding: 2rem 0;
}

.detail {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.create-button {
  width: 100%;
  margin: 1rem;
  padding: 1rem 2rem;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background-color: #048ba8;
  color: inherit;
  font-weight: bold;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.create-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.create-form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
}
