body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #2E4057;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
